body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 20px;
  color: white;
}

#header {
  margin: 0px;
  height: 15vh;
  background-color: #32502E;
}

#header .head {
  font-size: 40px;
  margin: auto;
  padding: 3vh;
  letter-spacing: 0.5px;
}

#header .head a {
  color: white;
}

#header .btn {
  margin-left: 97vh;
  display: inline-block;
  padding: 4px 0;
  margin-right: 4px;
  text-align: center;
  border-radius: 15%;
  font-size: 25px;
  letter-spacing: 0.5px;
  background-color: #88E0EF;
}

#header .btn:hover {
  background-color: white;
}

#title .title {
  margin-top: 30vh;
  padding-top: 80px;
  position: relative;
  text-align: center;
}

#title h1 {
  margin: 0 0 10px 0;
  font-size: 100px;
  color: #B1E693;
}

#titlepluslogo .title-and-logo {
  margin-top: 20vh;
  padding-top: 80px;
  text-align: center;
}

#titlepluslogo h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: white;
}

#titlepluslogo p {
  color: white;
  font-size: 20px;
}

#titlepluslogo a {
  align-content: center;
  color: white;
}

#titlepluslogo img {
  width: 15%;
  height: 15%;
}

#footer {
  margin-top: 72vh;
  background: #1F441E;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  color: white;
  position: relative;
  font-family: 'Nova Round', cursive;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 9px;
  display: inline-block;
  padding: 4px 0;
  margin-right: 4px;
  text-align: center;
  border-radius: 50%;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .copyright {
  margin: 0 0 5px 0;
}
